body{
    background-color: #eaeaea;
}

.ad-post-btn{
    white-space: nowrap;
}

.card-body{
    overflow: hidden;
}

.card-img{
    height: 200px;
    background-position: center center;
    background-size: cover;
    transition: all .35s;
}

.card-img__max{
    max-width: 100%;
    height: 500px;
    background-position: center center;
    background-size: cover;
    transition: all .35s;
}

.card-img:hover{
    transform: scale(1.1);
}

.card-img, .card-author, .card-date{
    margin-bottom: 10px;
}
